
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EAARvWyhdZBQkBPGzAFHEZBpmxX9ZA6MVKd7h7ZA6eWfP2x3BftJ8l5E0NFpw9A1yXEYRp91ew9nbYcmQZCXEEKZAZAYL5WXM2FN3skwRZAi0gVKQouPxWMO6mcQEZCXbkeE2F46W5EYMKOIA2ciFhrBWlxhXGEf06NKe4kgYpeThILZBlNWmeLDMZAmUloZBmb8UkMvqEsxRt4cFmpm4GTD9XzAFZBMYsHniLRq21WDvw16Wx6S3pvAZDZD"

APP_ID="1248337216796937"
APP_SECRET="447cec2156c9f4df1b86b67e05eaceed"
RECIPIENT_WAID="+33767813507" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v18.0"
PHONE_NUMBER_ID="773648832489237"

VERIFY_TOKEN="141415"

OPENAI_API_KEY=""
OPENAI_ASSISTANT_ID=""